:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #ff6b6b;
    --point-color: #96DBE2;
	--color: #E0E0E0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}


.sectionbar {
	float: left;
	width: 85%;
	height: 90vh;
}

.sectionbar a {
	text-align: center;
	font-size: 1rem;
	color: black;	
}
.main_box {
	width: 100%;
	height: 100%;
}

.tab_box {
	display: flex;
	width: 100%;
}

.tab {
	width: 50%;
	font-size: 1.5rem;
	font-weight: 100;
	text-align: center;
	background-color: gray;
}

.tab span {
	display: block;
	padding: 0.1rem;
	cursor: default;
}

.active {
	background-color: white;
	font-weight: 400;
}

.content_box {
	width: 100%;
	height: calc(100% - 1rem);
}

.content {
	display: none;
	height: 100%;
}

.on {
	display: block;
}

.friendsbar {
	float: left;
	width: 14.93%;
	height: 90vh;
	border-left: 1px solid var(--color);
	overflow: auto;
}

.friendlist {
    border-bottom: 1px solid var(--color);
}

.footerbar {
	display: flex;
	width: 100%;
	background-color: var(--background-color);
}

.footerbar a {
	color: var(--text-color);
}

.footer_box {
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 8px 12px;
}

.footer_box i {
	padding: 8px 12px;
}

.footer_box i:hover {
	background-color: var(--accent-color);
	border-radius: 4px;
}

.mobile {
	display: none;
}


@media screen and (max-width: 1140px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    
    .nav_logo {
        font-size: 40px;
    }
    
    .nav_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 30px;
        background-color: var(--background-color);
    }
    
    .nav_menu li {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    
    .nav_icon {
        display: none;
        width: 100%;
        justify-content: center;
        font-size: 40px;
        background-color: var(--background-color);
    }
    
    .nav_toggle {
        display: block;
        font-size: 40px;
    }
    
    .nav_menu.active,
    .nav_icon.active {
        display: flex;
    }
    
    .sectionbar {
    	width: 100%;
    	height: 70vh;
    	border-bottom: 1px solid var(--color);
    }
    
    .friendsbar {
        display: block;
    	width: 100%;
    	height: 30vh;
        border-top: 1px solid var(--color);
        margin-top: 70vh;
    }
    
    .web {
    	display: none;
    }
    
    .mobile {
    	display: block;
    }
    
}