@charset "UTF-8";

:root {
	--light-color: whitesmoke;
	--dark-color: #363636;
	--text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #ff6b6b;
    --color: #E0E0E0;

    --light-color: whitesmoke;
    --dark-color: #363636;
    --primary-color: #00d1b2;
    --primary-light-color: #ebfffc;
    --primary-dark-color: #00947e;
    --link-color: #3273dc;
    --link-light-color: #eef3fc;
    --link-dark-color: #2160c4;
    --info-color: #3298dc;
    --info-light-color: #eef6fc;
    --info-dark-color: #1d72aa;
    --success-color: #48c774;
    --success-light-color: #effaf3;
    --success-dark-color: #257942;
    --warning-color: #ffdd57;
    --warning-light-color: #fffbeb;
    --warning-dark-color: #947600;
    --danger-color: #f14668;
    --danger-light-color: #feecf0;
    --danger-dark-color: #cc0f35;
}

/* * * * * * * * * * *
 *       video       *
 * * * * * * * * * * */
.webrtc__part {
	height: 62vh;
    overflow-x: hidden;
	overflow-y: hidden;
}
/* .webrtc__part {
	height: 62vh;
    overflow-x: hidden;
	overflow-y: auto;
} */
.videos__area {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.local__video__area, .remote__video__area {
	width: auto;
	height: auto;
}

.media__container {
	width: auto;
	height: auto;
	position: relative
}
.media__user__status {
	display: flex;
	position:absolute;
	padding:0;
	margin:0;
	top: 0.2rem;
    left: 0.2rem;
}
.user__photo {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
.user__id {
	font-size: 20px;
	color: rgb(160,160,160);
	text-shadow: 1px 1px rgb(255, 255, 255);
	margin: auto;
	margin-left: 0.5rem;
}

/* * * * * * * * * * *
 *       modal       *
 * * * * * * * * * * */

 .modals__area{
 }
 .modal__overlay {
	width: 100%; 
	height: 100%; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	left: 0;
	z-index: 100;
	overflow: hidden;
	position: fixed;
	background: var(--dark-color);
	opacity: .8;
	display: block;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-color);
	padding:0;
}
 
.modal__close {
	border-radius: 1rem;
	background-color: #FFF; 
	padding: 15px; 
	box-shadow: 0 0 8px rgba(0,0,0,0.6); 
	max-width: 25rem;
	width: 100%; 
	max-height: 12rem;
	height: 100%;
	margin: auto; 
	position: fixed; 
	z-index: 110; 
	left: 0; 
	right: 0; 
	top: 50%;
	transform: translateY(-80%);
	-webkit-transform: translateY(-80%);
	-moz-transform: translateY(-80%);
	justify-content: center;
}
.modal__close button {
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 0.8em;
	height: 1.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(0.5em - 1px);
	padding-left: calc(0.75em - 1px);
	padding-right: calc(0.75em - 1px);
	padding-top: calc(0.5em - 1px);
	position: relative;
	vertical-align: top;
	font-weight: 400;
	background-color: #efefef;
    color: var(--background-color) !important;
}
.modal__close button:focus {
	outline: none;
}

.button__times {
	position: absolute !important;
    padding: 10px !important;
    margin-right: 20px;
	background-color: white !important;
    color: var(--background-color) !important;
    width: 2rem;
    height: 2rem !important;
}

div.close {
	text-align: center;
}
div.close > * {
	padding-bottom: 0.5rem;
}

.img__caution {
	margin-top: 1rem;
}

.buttons__cell {
    display: flex;
    justify-content: center;
}

.buttons__cell button {
    margin-left: 1rem;
    margin-right: 1rem;
}
.buttons_cell button:hover {
	background-color: var(--primary-color);
	color: var(--light-color);
}
