<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minibean.timewizard.usertodo">
	<select id="selectList" parameterType="int" resultType="TodoDto">
	  	SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	TODO_HASHTAG, TODO_DATE, TODO_COMPLETE, TODO_STARTTIME, TODO_ENDTIME
	  	FROM USER_TODO
	  	WHERE USER_NO = #{user_no} 
	</select>
	<select id="selectListTodoDate" parameterType="hashmap" resultType="TodoDto">
	  	SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	TODO_HASHTAG, TODO_DATE, TODO_COMPLETE, TODO_STARTTIME, TODO_ENDTIME
	  	FROM USER_TODO
	  	WHERE USER_NO = #{user_no} 
	  	AND TO_CHAR(TODO_DATE, 'YYYYMMDD') = #{todo_date}
	  	ORDER BY TODO_STARTTIME ASC, TODO_NO ASC
	</select>
	<select id="countList" parameterType="int" resultType="int">
		SELECT COUNT(TODO_NO)
		FROM USER_TODO
		WHERE USER_NO = #{user_no}
	</select>
	<select id="selectOne" parameterType="int" resultType="TodoDto">
	    SELECT TODO_NO, USER_NO, TODO_TITLE, TODO_COLOR, TODO_CONTENT, TODO_CATEGORY,
	  	REPLACE(TODO_HASHTAG, ' ', '^') AS TODO_HASHTAG, 
	  	TODO_DATE, TODO_COMPLETE, TODO_STARTTIME, TODO_ENDTIME
	  	FROM USER_TODO
	  	WHERE TODO_NO = #{todo_no}
	</select>
	<insert id="insert" parameterType="TodoDto">
	  	INSERT INTO USER_TODO
	  	VALUES(USER_TODO_SEQ.NEXTVAL, #{user_no}, #{todo_title}, #{todo_color}, #{todo_content},
	  	#{todo_category}, #{todo_hashtag}, #{todo_date}, #{todo_complete}, #{todo_starttime}, #{todo_endtime})
	</insert>
	<insert id="insertExample" parameterType="int">
	  	INSERT INTO USER_TODO
	  	VALUES(USER_TODO_SEQ.NEXTVAL, #{user_no}, '할 일 제목', '#6A5ACD', 
	  	'설명을 기재하는 란입니다.',	'예시', '#해시태그1 #해시태그2 #해시태그3',
	  	SYSDATE, 'N', '', '')
	</insert>
	<update id="update" parameterType="TodoDto">
	  	UPDATE USER_TODO SET TODO_TITLE = #{todo_title}, TODO_COLOR = #{todo_color},
	  	TODO_CONTENT = #{todo_content}, TODO_CATEGORY = #{todo_category},
	  	TODO_HASHTAG = #{todo_hashtag}, TODO_COMPLETE = #{todo_complete},
	  	TODO_STARTTIME = #{todo_starttime}, TODO_ENDTIME = #{todo_endtime}
	  	WHERE TODO_NO = #{todo_no}
	</update>
	<update id="updateTime" parameterType="TodoDto">
		UPDATE USER_TODO SET TODO_COMPLETE = #{todo_complete},
		TODO_STARTTIME = #{todo_starttime}, TODO_ENDTIME = #{todo_endtime},
		TODO_DATE = #{todo_date}
		WHERE TODO_NO = #{todo_no}
	</update>
	<delete id="delete" parameterType="int">
	  	DELETE FROM USER_TODO
	  	WHERE TODO_NO = #{todo_no}
	</delete>
	
	
	<!-- !!weekly 부분!!! -->
	
	<select id="WeeklyChart" parameterType="int" resultType="WeeklyDto">
		SELECT 
		LISTAGG(THE_DATE, ', ') WITHIN GROUP(ORDER BY THE_DATE) "THE_DATE",
		LISTAGG(FULLCOUNT, ', ') WITHIN GROUP(ORDER BY THE_DATE) "FULLCOUNT",
		LISTAGG(COMPLETE, ', ') WITHIN GROUP(ORDER BY THE_DATE) "COMPLETE",
		LISTAGG(UNCOMPLETE, ', ') WITHIN GROUP(ORDER BY THE_DATE) "UNCOMPLETE"
		FROM (
		SELECT TO_CHAR((SYSDATE - 6),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 6),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 6),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 6),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 6),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 6),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 6),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE - 5),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 5),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 5),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 5),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 5),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 5),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 5),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE - 4),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 4),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 4),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 6),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 4),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 4),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 4),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE - 3),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 3),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 3),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 3),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 3),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 3),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 3),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE - 2),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 2),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 2),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 2),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 2),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 2),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 2),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE - 1),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 1),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 1),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE - 1),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE - 1),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 1),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE - 1),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		UNION 
		SELECT TO_CHAR((SYSDATE),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B 
		UNION ALL 
		SELECT TO_CHAR((SYSDATE),'YYYYMMDD') the_date, 0 AS FULLCOUNT, 0 AS COMPLETE, 0 AS UNCOMPLETE
		FROM DUAL
		WHERE NOT EXISTS (SELECT TO_CHAR((SYSDATE),'YYYYMMDD') the_date, FULLCOUNT, COMPLETE, FULLCOUNT-COMPLETE AS UNCOMPLETE
		FROM (SELECT COUNT(*) FULLCOUNT FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE),'YYYYMMDD')) A,
		(SELECT COUNT(*) COMPLETE FROM USER_TODO 
		WHERE USER_NO = #{user_no}
		AND TO_CHAR(TODO_DATE, 'YYYYMMDD') =  TO_CHAR((SYSDATE),'YYYYMMDD')
		AND TODO_COMPLETE = 'Y') B )
		)
	</select>
	
</mapper>
